
/* le footer */
footer {
    position: relative;
    padding: 40px 6vw 10vh 6vw;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--footbg);
    color: var(--text);
    z-index: 100;
}
.footer-group {
    padding: 10px 0;
    min-width: calc(65vw + 224px);
    height: min-content;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(95, 95, 95);
    color: gray;
}
.footer-group:nth-child(2) {
    align-items: end;
}
.menu_button,
.extra, .extra p, .extra h2, .legal {
    color: inherit;
}

.menu_button {
    margin: 0 auto;
    color: var(--text);
}
.footer_logo {
    margin: 0 20px 0 10px;
    aspect-ratio: 22/10;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.legal {
    margin: auto;
    height: 100%;
    text-align: center;
    color: rgb(191, 201, 208);
}